<%- include('../shared/header_solicitacao') %>

<div class="container-cadastro">
  <div class="content-box">
      <div class="login-logo">
        <a href="/">
          <img src="/img/Logo_header.png" alt="">
        </a>
      </div>
      <div class="form-box">
        <div class="voltar">
          <a href="/">
            <img src="/img/voltar.png" alt="">            
          </a>  
          Voltar        
        </div>
          <div>
            <div class="custom-control custom-checkbox mr-sm-2">
              <input class="custom-control-input" checked type="checkbox" id="declaracao" >
              <label class="custom-control-label">
                Solicitação enviada com sucesso.                 
              </label>       
            </div>
          </div>  
          <hr>
          <div class="requisicao">
            <div>
              <span>Número da requisição:</span>
              <span style="color: #E47915;">#242423</span>
            </div>            
            <p>
              A Solicitação será encaminhada para avaliação da prefeitura da sua cidade, acompanhe o status em “Solicitações Pendentes”.
            </p>
          </div>
          <hr>                 
      </div>
  </div>
  <div class="img-box">
    <div class="logout">
      <a href="/logout" >
        <img src="/img/logar.png" alt=""> </img>
      </a>
    </div>
      <!-- <img src="img/imagem_fundo_asfalto.png"> -->
    <div class="quem-somos">
      <button>Quem somos?</button>
      <p>
        Criado em parceria com o governo federal para melhorar a infraestrutura viária de forma colaborativa e eficaz.
      </p>
    </div>
  </div>
</div>
