<%- include('../shared/header_usuario') %>

<div class="novaSolicitacao">
  <a href="/solicitar" class="button-header" type="submit">
    Nova Solicitação
  </a> 
</div>

<section id="homeUser">
  <div class="row" >
    <div class="col-6">
      <div class="row">
        <div id="perfil" class="col m-3 caixa">
          <div class="row">
            <div class="col-6">
              <img src="/img/fotoPerfil.png" alt=""></img>
            </div>
            <div class="col-6" style="display: flex; align-content: center;">
              <h2 id="nome">Lucas Silva</h2>
              <a onclick="editarPerfil()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>            
            </div>
          </div>
        </div>
        <div id="endereco" class="col m-3 caixa">          
          <div>
            <h2>Endereco cadastrado:</h2>
            <a onclick="editarEndereco()">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>            
          </div>
          <span>
            <span class="mt-3" id="rua">Rua abecede</span>, <span id="numero">50</span> <span id="cep">(04591-598)</span> - <span id="cidade">São Paulo - SP</span>
          </span>                    
        </div>
      </div>
      <div class="row">
        <div id="dadosPessoais" class="col m-3 caixa">
          <div class="row">
            <h2>Dados Pessoais:</h2>
            <a onclick="editarDadosPessoais()">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>            
          </div> 
          <div>
            <span>Idade:</span><span id="idade">29</span>   
          </div> 
          <div>
            <span>CPF:</span><span id="cpf">518.869.058-71</span>    
          </div>  
          <div>
            <span>Celular:</span><span id="celular">(11) 98888-8888</span>   
          </div>   
          <div>
            <span>Email:</span><span id="email">lucas.silva@email.com</span>
          </div>    
        </div>     
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div id="solPendentes" class="col m-3 caixa">
          <h2>Solicitacoes Pendentes:</h2>
          <p>#151502</p>
          <p>#171526</p>
        </div>     
      </div>
      <div class="row">
        <div id="solConcluidas" class="col m-3 caixa">
          <h2>Solicitacoes Concluidas:</h2>
          <p>#153030</p>          
        </div>     
      </div>
    </div>
  </div>      
</section>

<!-- Modal Editar Perfil -->
<div id="modal-perfil" class="modal">
  <div class="box">
    <div class="close">
      <a onclick="closePerfil()">
        <img src="/img/bolaFechar.png" alt="">
      </a> 
    </div> 
    <div class="modal-conteudo">
      <div class="">
        <label for="">Nome Atual: </label>
        <input type="text" class="input" name="nomeAtual" id="nomeAtual" placeholder="">
      </div>
      <div class="">
        <label for="">Novo nome: </label>
        <input type="email" class="input" name="nome" placeholder="Preencher...">
      </div>
      <div class="botao">
        <button type="button" class="btn-alterar">ALTERAR</button>
        <button type="button" class="btn-cancelar" onclick="closePerfil()">CANCELAR</button>  
      </div> 
    </div>   
  </div>
</div>

<!-- Modal Alterar dados-pessoais" -->
<div id="modal-dados-pessoais" class="modal">
  <div class="box-dados-pessoais">
    <div class="close">
      <a onclick="closeDadosPessoais()">
        <img src="/img/bolaFechar.png" alt="">
      </a> 
    </div> 
    <div class="modal-conteudo-dados-pessoais">
      <div class="row" style="margin-bottom: 50px;">
        <div class="col">
          <div class="">
            <label for="">Data de Nascimento atual: </label>
            <input type="text" class="input" name="dataNascimentoAtual" id="idadeAtual">
          </div>
          <div class="">
            <label for="">CPF atual: </label>
            <input type="text" class="input" name="cpfAtual" id="cpfAtual">
          </div>
          <div class="">
            <label for="">Celular atual: </label>
            <input type="text" class="input" name="celularAtual" id="celularAtual">
          </div>
          <div class="">
            <label for="">E-mail atual: </label>
            <input type="email" class="input" name="emailAtual" id="emailAtual">
          </div>
        </div>
        <div class="col">
          <div class="">
            <label for="">Nova Data de Nascimento: </label>
            <input type="text" class="input" name="dataNascimento" placeholder="Preencher...">
          </div>
          <div class="">
            <label for="">Novo CPF: </label>
            <input type="text" class="input" name="cpf" placeholder="Preencher...">
          </div>
          <div class="">
            <label for="">Novo Celular: </label>
            <input type="text" class="input" name="celular" placeholder="Preencher...">
          </div>
          <div class="">
            <label for="">Novo E-mail: </label>
            <input type="email" class="input" name="email" placeholder="Preencher...">
          </div>
        </div>
      </div>
      <div class="botao">
        <button type="button" class="btn-alterar">ALTERAR</button>
        <button type="button" class="btn-cancelar" onclick="closeDadosPessoais()">CANCELAR</button>  
      </div> 
    </div>   
  </div>
</div>

<!-- Modal Alterar Endereco" -->
<div id="modal-endereco" class="modal">
  <div class="box-endereco">
    <div class="close">
      <a onclick="closeEndereco()">
        <img src="/img/bolaFechar.png" alt="">
      </a> 
    </div> 
    <div class="modal-conteudo-endereco">
      <div class="row" style="margin-bottom: 50px;">
        <div class="col">
          <div class="">
            <label for="">Endereco atual: </label>
            <input type="text" class="input" name="enderecoAtual" id="enderecoAtual" placeholder="">
          </div>
          <div class="">
            <label for="">Numero atual: </label>
            <input type="text" class="input" name="numeroAtual" id="numeroAtual" placeholder="">
          </div>
          <div class="">
            <label for="">CEP atual: </label>
            <input type="text" class="input" name="cepAtual" id="cepAtual" placeholder="">
          </div>          
        </div>
        <div class="col">
          <div class="">
            <label for="">Novo Endereco : </label>
            <input type="text" class="input" name="endereco" placeholder="Preeencher...">
          </div>
          <div class="">
            <label for="">Novo Numero : </label>
            <input type="text" class="input" name="numero" placeholder="Preeencher...">
          </div>
          <div class="">
            <label for="">Novo CEP : </label>
            <input type="text" class="input" name="cep" placeholder="Preeencher...">
          </div>          
        </div>
      </div>
      <div class="botao">
        <button type="button" class="btn-alterar">ALTERAR</button>
        <button type="button" class="btn-cancelar" onclick="closeEndereco()">CANCELAR</button>  
      </div> 
    </div>   
  </div>
</div>

<%- include('../shared/footer') %>