<%- include('../shared/header') %>

  <section id="home">
    <div class="wrapper">
      <div class="col-a">

        <header>
          <h4>BOAS-VINDAS A PAVIMENTABR 👋</h4>
          <h1>Assistência simplificada para todos</h1>
        </header>

        <div class="content">
          <p>
            Criado para tornar a mobilidade urbana mais segura

          </p>
          <div class="row">
            <div class="col-4">
              <a class="button" href="#contact">
                Solicitar
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-b">
        <img src="img/Máquina asfaltica.png" alt="Maquina de pavimentar" />
      </div>


    </div>
  </section>

  <section id="status">
    <div class="stats">
      <div class="stat" style="border-right: 1px solid;">
        <h3>40.000 Km/h</h3>
        <p>de ruas pavimentadas</p>
      </div>

      <div class="stat" style="border-right: 1px solid;">
        <h3>100%</h3>
        <p>Eficência</p>
      </div>

      <div class="stat">
        <h3>+2</h3>
        <p>Anos no mercado</p>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="wrapper">
      <header>
        <h4>Serviços</h4>
        <h2>Como nossos tutores podem te ajudar?</h2>
      </header>

      <div class="content">
        <div class="cards">
          <div class="card">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
              <path d="M17.091 8.18182L10.091 15.1818L6.90918 12" stroke="#00856F" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <h3>Pavimentação de ruas não asfaltadas</h3>
            <p>
              A pavimentação de ruas de terra regulares (oficiais) realizada pela Prefeitura com uso de pedra britada ou
              resíduos da demolição de obras, seguida pela aplicação de camada de asfalto.
            </p>
          </div>

          <div class="card">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
              <path d="M17.091 8.18182L10.091 15.1818L6.90918 12" stroke="#00856F" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <h3>Recapeamento</h3>
            <p>
              É a remoção do asfalto antigo na rua e aplicação de nova camada de asfalto em seu lugar. Onde houver
              necessidade também é realizada reforma de guias e sarjetas.
            </p>
          </div>

          <div class="card">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
              <path d="M17.091 8.18182L10.091 15.1818L6.90918 12" stroke="#00856F" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <h3>Tapa-buraco</h3>
            <p>
              Conserto no asfalto feito no lugar onde surgiu um buraco: o asfalto velho é removido de toda a área ao
              redor do buraco, preenchendo-se então o local com asfalto novo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="wrapper row">
      <div class="col about-image">
        <img src="img/image_sobrenos.png" alt="Ilustração maquina de pavimentar com homens na pista" />
      </div>
      <div class="col about-sobre" style="margin-top: 40px;">
        <header>
          <h4>Sobre nós</h4>
          <h2>Entenda quem somos e por que existimos</h2>
        </header>

        <div class="content">
          <p>
            A PavimentaBR foi criado com a finalidade de facilitar para a população relatar a necessidade de
            pavimentação de ruas em todo território nacional. Desenvolvido em parceria com o governo federal para
            melhorar a infraestrutura viária de forma colaborativa e eficaz.
          </p>
        </div>
      </div>
    </div>
  </section>

  <%- include('../shared/footer') %>