<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Solicitação de Serviço</title>
    <!-- <link rel="stylesheet" href="css/style.css">  -->
    <link rel="stylesheet" href="/stylesheets/solicitacao.css">     

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

<!-- Tela de Solicitação -->
<body>