* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-cadastro {
    display: flex;
    height: 100vh;
}

.content-box {
    justify-content: center;
	flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box {
	margin-top: 74px;
    padding: 0px 92px;
}

.content-box .form-box .ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box .form-box .ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.content-box .form-box .ul li:hover {
    background: #e4e4e4;
}

form{
    gap: 20px;
}

.form-box .ul li img {
    width: 40px;
}

.content-box .form-box h2 {
    color: #32324f;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: start;
}

.content-box .form-box p {
    font-weight: 400;
    font-size: 13px;
    text-align: start;
	margin-bottom: 18px;
}

.content-box .form-box .input-box {
    margin-bottom: 13px;
}

.content-box .form-box .input-box input {
	height: 25.7px;
	padding: 0px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid #D9D9D9;
    font-size: 12px;
    color: #5A5A5A;
    background-color: #fff;
    border-radius: 10px;
}

.content-box .form-box .input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #32324f;
    font-weight: 400;
}

.content-box .form-box .input-box input::placeholder {
    color: #a9adb6;
}

.content-box .form-box .input-box input[type=submit] {
    background: #fff;
    color: #5A5A5A;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
	border: solid 1px;
}

.content-box .form-box .input-box input[type=submit]:hover {
    background: #fff;
}

.content-box .form-box .remember{
    margin-bottom: 13px;
    color: #32324f;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.content-box .form-box .remember a{
    text-decoration: none;
    color: #D93F21;
	font-size: 11px;
	text-align: end;
}

.content-box .form-box .remember a:hover{
    color: #3F3E77;
}

.content-box .form-box .input-box p {
    color: #32324f;
}

.content-box .form-box .input-box p a{
    color: #3286ca;
}

.content-box .form-box .input-box p a:hover{
    color: #3286ca;
}

.content-box .form-box h3
{
    color: #607d8b;
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}

.form-check{
    
}

.form-check-label{
    color: #5A5A5A;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 14.5px;
}

.img-box {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
	background-image: url("../img/imagem_fundo_asfalto.png");
	background-repeat: no-repeat;
	background-size: cover;	
    flex-wrap: wrap;
}

.img-box a{
    text-decoration: none;    
}

.logout{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
    margin-right: 111px;
}

.quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: start;
	width: 507px;
	height: 245px;
	padding: 0px 45px;
	background-color: #454545;
    margin-bottom: 96px;
    margin-left: 27px;
}

.quem-somos button{
	margin-top: 44px;
	margin-bottom: 26px;
	width: 202px;
	height: 29px;
	background-color: #DCBE20;
	font-size: 14px;
	padding: 0px 15px;
	border-radius: 15px;
	border: none;
}

.quem-somos p{
	width: 427px;
	letter-spacing: 1.7px;
	color: #fff;
	text-align: start;
	font-family: Poppins;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 32.967px;
}

.btn-cadastro{
    display: flex;
    justify-content: center;
}

.btn-cadastro input{
	width: 120px; 
	height: 37px; 
	background-color: transparent;
	border-radius: 13px;
	border: 1px solid #5A5A5A;
	margin-top: 16px;

    color: #5A5A5A;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.5px;
}

.login-logo{
	display: flex;
	align-self: start;	
    margin-top: 30px;
    margin-left: 111px;
}

.voltar{
    margin-bottom: 28px;
}

.voltar a{
    text-decoration: none;
    width: 24px;
    height: 24px;
}

.requisicao{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.requisicao p{
    color: black;
}

@media (max-width:868px) {
    .container-cadastro .img-box{
        display: none;
    }
    .container-cadastro .content-box{
        width: 100%;
    }
    .container-cadastro .content-box .form-box{
        width: 100%;
        padding: 40px;
        background: white;
        margin: 50px;
    } 
    .container-cadastro .content-box .form-box h3{
        margin: 30px 0 10px;
    } 
}